.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  z-index: 1;
}

.options {
  position: absolute;
  right: 1rem;
  top: 2rem;
  z-index: 2;
}

.options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question {
  font-size: 20px;
  color: #fff;
  margin: 20px 0 0 0;
  width: 80%;
}

.actions {
  display: flex;
  width: 55%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.actions button {
  flex: 1;
  background-color: #fff;
  color: #000;
  border: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.actions button:disabled {
  background-color: gray;
  cursor: auto;
}

.webcam_container {
  display: flex;
  height: 75%;
  width: 300px;
 animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 768px) {
  .actions {
    width: 70%;
  }
  .webcam_container {
    flex: 1;
    height: 50%;
    align-items: center;
  }

  .zoom {
    padding: 1rem 1rem 0;
  }
}
