.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  z-index: 1;
}

.options {
  width: 90%;
  position: absolute;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.speed_input {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 1rem;
}

.speed_input input {
  width: 40px;
}

.speed_input label {
  color: #ffffff;
}

.question {
  font-size: 20px;
  color: #fff;
  margin: 20px 0 0 0;
  width: 80%;
}

.actions {
  display: flex;
  width: 60%;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.actions button {
  width: 15.2%;
  background-color: #fff;
  color: #363636;
  border: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.custom {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
  width: 70%;
  justify-content: center;
}

.custom button {
  width: 16%;
  background-color: #dad5d5;
  color: #363636;
  border: transparent;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.actions button:disabled {
  background-color: gray;
  cursor: auto;
}

.custom button:disabled {
  background-color: gray;
  cursor: auto;
}

.webcam_container {
  display: flex;
  height: 75%;
  width: 300px;
  animation: fadeIn ease 1.5s;
}

.webcam_container_hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .actions {
    width: 80%;
    gap: 1.5rem;
  }
  .actions button {
    width: 37%;
  }
  .custom button {
    width: 100%;
  }
  .webcam_container {
    flex: 1;
    height: 50%;
    align-items: center;
  }

  .zoom {
    padding-top: 1rem;
  }

  .speed_input input {
    width: 25px;
  }
}
